
/* ==========================================================================
   Loethen's custom styles
   ========================================================================== */
.clear{clear:both;}
body{
	/*background: url(../img/bg-content.png) repeat;*/
}
/* ==============
	bg-color
   ================*/
.bg-gray{
	background: #f0f0f0;
	margin-top: 20px;
	padding: 15px;
	color: #666;
}
.bg-white{
	background: #fff;
	/*border-radius: 3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border: 1px solid #d7d7d7;*/
}
.bg-rx{
	background: #f8f8f8;
	border: 1px solid #d7d7d7;
	color: #555;
	border-radius: 3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
}

/* ==============
	header
   ================*/
#wrap > .container-narrow {

} 
.container-narrow{
	max-width: 870px;
	margin: 0 auto;
}
.navbar a.logo{
	background: url(../img/ergoulogo.png) no-repeat 0 0;
	width: 134px;
	height: 34px;
}
.fix{
	position: fixed;

}
.tip{
	display: none;
	top: 1px;
	left: 45%;
	z-index: 1031;
}
.tip-inner{
	color: #fff;
	background: #009dba;
	padding: 9px 10px;
}
#tipclose{
	margin-left: 5px;
	cursor: pointer;
}
.navbar .brand i{
	display: none;
	opacity: .5;
}
.favorite{
	float: left;
    height: 16px;
    width: 16px;
    padding: 2px;
	background: url(../img/favorite.png) no-repeat left center;
}
/* ==============
	footer
   ================*/
/* Sticky footer styles
-------------------------------------------------- */
html,
body {
height: 100%;
/* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
min-height: 100%;
height: auto !important;
height: 100%;
/* Negative indent footer by it's height */
margin: 0 auto -60px;
}
/* Set the fixed height of the footer here */
#push,
#footer {
height: 60px;
}
#footer {
background-color: #f5f5f5;
}
.pos-relate{
	position: relative;
}
#ergou{
	background: url(../img/footer_mouse1.png) no-repeat;
	width: 72px;
	height: 75px;
	position: absolute;
	top: -20px;
	left: 255px;
}
/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
#footer {
margin-left: -20px;
margin-right: -20px;
padding-left: 20px;
padding-right: 20px;
}
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container .credit {
margin: 20px 0;
} 
/* ==============
	container
   ================*/
.container-margin{
	margin-bottom: 20px;
}

/* ==============
	signin/signup
   ================*/
.sign-head{
	text-align: center;
}
.sign-body{
	background: #eee;
}
h2.form-heading{
	color: #a7a9ac;
	padding-left:25px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	line-height: 28px;
	padding: 10px 25px;
	font-size: 23px;
}
.divider-top {
	border-bottom: 1px solid #cecfd1;
	text-align: center;
}
.divider-title {
	background-color: #fff;
	color: #adafb2;
	display: inline;
	font-size: 1.07692em;
	font-weight: bold;
	padding: 5px 12px 5px 14px;
	position: relative;
	top: 10px;
}
.group{
	padding: 15px 28px 15px;
}
.form-signin,.form-signup {
	max-width: 400px;
	margin: 35px auto;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin label{
	font-weight: bold;
}
.btn-margin10{
	margin:10px 0; 
}
blockquote p{
	font-size: 12px;
}
.font16{
	font-size: 16px;
}
/* ==============
	首页
   ================*/
.item-content p{
	line-height: 1.7em;
	margin:10px 0;
	font-size: 14px;
	padding:0 19px 0;
	color: #888;
	word-wrap:break-word;
}
.item{
	margin-bottom: 40px;
	border: 1px solid #d7d7d7;
}
.entry-top{
	padding: 10px;
	/*border-bottom: 1px solid #ddd;*/
}
.entry-top{
	color: #d4d4d4;
}
.entry-top a{
	color: #c2c2c2;
	text-decoration: none;
}
.entry-top a i{
	opacity: .2;
}
.item h1{
	padding: 8px 16px 8px;
	font-size: 16px;
	font-weight: 550;
	line-height: 1.2em;
}
.item h1 a{
	color: #666;
}
.fg{
	background: #f5f5f5 url(../img/p5.png) repeat;
	line-height: 0;
	border-top: 1px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;
	text-align: center;
}
.entry-misc{
	box-shadow: 1px 1px 3px rgba(0,0,0,.2);
	-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.2);
	-moz-box-shadow: 1px 1px 3px rgba(0,0,0,.2);
}
.ep{
	padding: 13px 0;
}
.like, .share, .comment{
	background-image: url(../img/like.png);
	background-repeat: no-repeat;
	float: left;
	margin-left: 15px;
}
.like{
	width: 15px;
	height: 15px;
	background-position: 0 -14px;
}
.share{
	width: 16px;
	height: 17px;
	background-position: -26px 0;
}
.comment{
	width: 16px;
	height: 16px;
	background-position: -42px 0px;
}
.lb{
	border-left: 1px solid #ddd;
	padding: 10px;
	line-height: 23px;
}
.arival-link{
	color: #dd4b39;
}
.arival-link i{
	opacity: .3;
	margin-left: 5px;
}
.bs-docs-sidenav .icon-chevron-right {
	float: right;
	margin-top: 2px;
	margin-right: -6px;
	opacity: .25;
}
.bs-docs-sidenav li a {
	display: block;
	padding: 8px 14px;
	border-top: 1px solid #e5e5e5;
	background: #fff;
}
.bs-docs-sidenav h2{
	font-size: 18px;
	margin: 0
}
.comments{
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	-webkit-box-shadow: 0 1px 0 rgba(101,101,101,.1);
	background-color: #fafafa;
	padding: 10px 20px;
	border-top: 1px solid #d5d5d5;
	position: relative;
	display: none;
}
.comment-arr{
	position: absolute;
	top: -7px;
	left: 76px;
	background: url(../img/like.png) no-repeat 0 -44px;
	width: 13px;
	height: 8px;
}
.comments input{
	margin: 0;
}
.comment-list{
	margin-top: 15px;
}
.comment-list .media{margin: 0;}
.comment-list .media p{color: #666; padding-left: 3px;}
.comment-list .media .media-heading{
	font-size: 12px;
	background: #f8f8f8;
	font-weight: normal;
	padding-left: 3px;
	color: #888;
	box-shadow: 1px 1px #ddd;
}
/* ==============
	首页右侧
   ================*/
.Ym {
	border-bottom: 1px solid #e9e9e9;
	color: #777;
	font: bold 12px arial,sans-serif;
	margin-bottom: 10px;
	margin-top: -7px;
	position: relative;
}
.tx {
	display: inline-block;
	font: bold 12px arial,sans-serif;
	margin: 0;
	max-width: 256px;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	white-space: nowrap;
}
.hp {
	padding-right: 10px;
	position: relative;
	text-transform: uppercase;
	background-color: #fff;
	bottom: -7px;
}
.qu {
	background-color: #fff;
	bottom: -7px;
	padding-left: 10px;
	position: absolute;
	right: 0;
}
.RX{
	padding-left: 10px;
}
.cloudtag{
	margin-top: 15px;
}
.cloudtag a{
	font-size: 14px;
	color: #888;
}
.divider {
	padding: 0 5px;
	color: #ccc;
}
/* ==============
	商品添加
   ================*/
.breadguid{
	list-style: none;
	margin-left: 55px;
}
.bg-guide{
	background: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-bottom-color: #d8d8d8;
	text-align: center;
    color: #7b7b7b;
}
.breadguid li{
	width: 63px;
	text-align: center;
	float: left;
	position: relative;
	padding: 18px 0;
	font-weight: bold;
	cursor: pointer;
	color: #a8a9ab;
}
.breadguid li.current{
	color: #444;
}
.breadguid li.guid-step2{
	margin:0 125px;
}
.breadguid li span hr {
    border-bottom-color: #CBCBCB;
    left: -143px;
    margin: 5px;
    position: absolute;
    width: 150px;
}
.breadguid li span {
	font-size:16px;
    padding: 6px 10px;
    border-radius: 13px;
}
.guid-wrap{
	min-height: 200px;
	text-align: center;
	overflow: hidden;
	position: relative;
	padding: 20px;
}
.guid-wrap a.btn-xlarge {
	margin-top: 60px;
	padding: 20px 50px;
	margin-right: 30px;
	font-size: 20px;
}
.choose{
	position: absolute;
	left: 80px;
}
.tb, .other{display: none;}
.loe-unit{
	text-align: left;
	padding:30px 5px;
}
.loe-unit .span6{
	margin: 20px 0 0 0;
}
.w40{width: 40px;}
.thumb-min{
	margin: 10px;
}
.thumb-min a{
	float: left;
	margin-right: 15px;
}
.help-inline{
	color: #ddd;
}
.text-left{
	text-align: left;
}
.tb-submit{
	/*margin-right: 180px;*/
}
.shopname{
	margin-top: 10px;
	color: #888;
	padding-left: 10px;
}
#des{
	resize:vertical;
}
#des-tip{
	display: none;
}
/* ==============
	品牌详情页
   ================*/
 h1.sj-title{
 	font-size: 26px;
 	color: #444;
 }
.brand-show{
	background: #fff;
	border: 15px solid #f0f0f0;
	padding: 10px;
}
.relate-post a{
	display: block;
	margin-bottom: 5px;
}
.teal{
	font-weight: normal;
	font-size: 14px;
	color: teal;
}
/* =================================================================================
    文章详情页.
====================================================================================*/
.bg-life{
	padding: 15px;
	background: #fff;
	margin-bottom: 20px;
}
.sc .item-content p{
	font-size: 16px;
	padding: 0;
	text-indent: 2em;
}
.talk{
	margin-top: 20px;
}
.talk textarea{
	resize:none;
}
.talk button{
	float: right;
}
.reply{
	padding-right: 5px;
}
/* =================================================================================
    账户设置.
====================================================================================*/
.border-gray{
	background-color: #fff;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    font-size: 14px;
    padding: 3px 15px;
    position: relative;
    min-height: 200px;
}
.border-gray h1{
	font-size: 14px;
	position: absolute;
	left: 0px;
	top: 0px;
	background: #F5F5F5;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	padding:3px 10px;
	margin: 0;
}
.border-gray .account{
	margin-top: 50px;
}
.msg-tip{
	width: 300px;
	margin:10px auto 0;
	text-align: center;
	color: #3a87ad;
}
/* =================================================================================
    评论模块.
====================================================================================*/



/* =================================================================================
    所有品牌页面
====================================================================================*/
#allbrand .accordion-group{
	margin-bottom: 20px;
	background: #fff;
}
#allbrand a.accordion-toggle{
	padding: 8px 20px 8px;
	font-size: 16px;
	font-weight: bold;
	color: #dd4b39;
	text-shadow: none;
	background: #f5f5f5;
}
#allbrand a.accordion-toggle:hover{
	text-decoration: none;
}
.border-red{
	border:1px solid #c3c3c3;
}
.accordion-inner a{
	margin-right: 15px;
}
/* =================================================================================
    用户头像
====================================================================================*/
#avatar{
	position: absolute;
	right: 0;
	top: 0;
	opacity: 0;
}
.w80{
	width: 80px;
}
.form-avatar .progress{
	margin-top: 5px;
	width: 300px;
	visibility: hidden;
	margin: 3px 0;
}
/* =================================================================================
    admin
====================================================================================*/
.tags{
	margin: 15px 0 0 0;
	padding: 15px 5px;
}
.tags li{
	position: relative;
	list-style: none;
	background-color: #444;
	color: #fff;
	padding: 0 19px 0 5px;
	float: left;
	margin-right: 5px;
	border-radius: 3px;
}
.tags li div{
	line-height: 23px;
}
.tags li a{
	display: block;
	position: absolute;
	right: 3px;
	top: 4px;
	width: 12px;
	height: 13px;
	font-size: 17px;
	line-height: 16px;
	color: #eee;
	font-weight: 700;
	font-family: Arial;
	text-decoration: none;
}


/* =================================================================================
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
====================================================================================*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:rgba(0,0,0,.5);}
#colorbox{outline:0;}
    #cboxTopLeft{width:25px; height:25px; background:url(../img/colorbox/border1.png) no-repeat 0 0;}
    #cboxTopCenter{height:25px; background:url(../img/colorbox/border1.png) repeat-x 0 -50px;}
    #cboxTopRight{width:25px; height:25px; background:url(../img/colorbox/border1.png) no-repeat -25px 0;}
    #cboxBottomLeft{width:25px; height:25px; background:url(../img/colorbox/border1.png) no-repeat 0 -25px;}
    #cboxBottomCenter{height:25px; background:url(../img/colorbox/border1.png) repeat-x 0 -75px;}
    #cboxBottomRight{width:25px; height:25px; background:url(../img/colorbox/border1.png) no-repeat -25px -25px;}
    #cboxMiddleLeft{width:25px; background:url(../img/colorbox/border2.png) repeat-y 0 0;}
    #cboxMiddleRight{width:25px; background:url(../img/colorbox/border2.png) repeat-y -25px 0;}
    #cboxContent{background:#fff; overflow:hidden;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:20px;}
        #cboxTitle{position:absolute; bottom:0px; left:0; text-align:center; width:100%; color:#999;}
        #cboxCurrent{position:absolute; bottom:0px; left:100px; color:#999;}
        #cboxLoadingOverlay{background:#fff url(../img/colorbox/loading.gif) no-repeat 5px 5px;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxSlideshow{position:absolute; bottom:0px; right:42px; color:#444;}
        #cboxPrevious{position:absolute; bottom:0px; left:0; color:#444;}
        #cboxNext{position:absolute; bottom:0px; left:63px; color:#444;}
        #cboxClose{position:absolute; bottom:0; right:0; display:block; color:#444;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

/* Fixes issue here http://code.google.com/p/jcrop/issues/detail?id=1 */
.jcrop-holder{text-align:left;}
.jcrop-holder img{max-width: none;}
.jcrop-vline, .jcrop-hline{font-size:0;	position:absolute; background:white url('../img/Jcrop.gif') top left repeat;}
.jcrop-vline{height:100%; width:1px !important;}
.jcrop-hline{width:100%; height:1px !important;}
.jcrop-handle{font-size:1px; width:7px !important; height:7px !important;	border:1px #eee solid; background-color:#333; *width:9px; *height:9px;}
.jcrop-tracker{width:100%; height:100%;}
.custom .jcrop-vline,.custom .jcrop-hline{background:yellow;}
.custom .jcrop-handle{border-color:black; background-color:#C7BB00; -moz-border-radius:3px; -webkit-border-radius:3px;}